.About {
  width: 100%;
  height: max-content;
  position: relative;
  .bgimg {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 300px;
    img {
      width: 100%;
      position: absolute;
      &:first-child {
        position: relative;
      }
      &.bg1 {
        left: -50%;
        rotate: 30deg;
      }
      &.bg2 {
        right: -50%;
        rotate: 30deg;
      }
    }
    p {
      position: absolute;
      z-index: 2;
      font-family: Roboto;
      font-size: 50px;
      color: #274c5b;
    }
  }
}
.About1 {
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
  }
  .content {
    position: relative;
    z-index: 3;
    height: 70%;
    width: 35%;
    left: 50%;
    p.pp {
      font-family: Yellowtail;
      font-size: 26px;
      color: #68a47f;
    }
    p.h2 {
      font-family: Roboto;
      font-size: 35px;
      color: #274c5b;
      padding-right: 150px;
    }
    p.small {
      font-size: 13px;
      line-height: 20px;
      font-family: "Open Sans";
      color: #525c60;
    }
    .cards {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      row-gap: 20px;
      margin: 25px 0;
      .card {
        display: flex;
        width: 48%;
        gap: 10px;
        align-items: center;
        p.h3 {
          font-size: 18px;
          font-family: Roboto;
          color: #274c5b;
        }
        img {
          height: 100%;
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 40px;
      background-color: #274c5b;
      border: none;
      border-radius: 10px;
      color: white;
      gap: 7px;
      span {
        display: flex;
        font-size: 10px;
        padding: 2px;
        border-radius: 20px;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        width: max-content;
        height: max-content;
      }
    }
  }
}
.About2 {
  width: 100%;
  height: 700px;
  background-color: #f9f8f8;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 200px;
  .BgGreen {
    margin-top: 150px;
    overflow: hidden;
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 400px;
    padding: 40px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 200px;
    .background {
      rotate: 90deg;
      width: 100%;
    }
  }
  .content {
    position: relative;
    z-index: 3;
    height: 70%;
    width: 50%;
    text-align: left;
    left: 0;
    p.pp {
      font-family: Yellowtail;
      font-size: 26px;
      color: #68a47f;
    }
    p.h2 {
      font-family: Roboto;
      font-size: 40px;
      color: #274c5b;
    }
    p.small {
      width: 80%;
      margin-top: 10px;
      font-size: 12px;
      line-height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: #778388;
    }
    .cards {
      width: 100%;
      height: 100px;
      display: grid;
      justify-content: space-between;
      padding: 20px 0;
      .card {
        display: grid;
        width: 100%;
        gap: 10px;
        align-items: center;
        .buttonHz {
          display: flex;
          gap: 10px;
          width: 60%;
          height: max-content;
          padding: 20px;
          border-radius: 100px;
          overflow: hidden;
          background-color: #e3e3e3;
          p {
            font-family: Roboto;
            color: #274c5b;
            font-size: 16px;
          }
          p.elipse {
            width: 20px;
            height: 20px;
            border: 5px solid #68a47f;
            border-radius: 50px;
          }
        }
        .small {
          width: 100%;
          padding: 0 120px 0 50px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}
.About2-1 {
  width: 100%;
  height: max-content;
  padding: 0px 200px 100px 200px;
  .boxes {
    display: flex;
    width: 100%;
    height: max-content;
    padding: 0 50px 50px 50px;
    justify-content: space-evenly;
    .box {
      width: 200px;
      background-color: white;
      text-align: center;
      border-radius: 20px;
      padding: 40px 20px;
      box-shadow: 0 0 20px rgb(227, 227, 227);
      img {
        width: 80px;
        height: 80px;
        background-color: #f9f8f8;
        border-radius: 10px;
        padding: 20px;
      }
      h3 {
        font-family: Roboto;
        font-size: 20px;
        color: #274c5b;
        padding: 10px 0;
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 200;
        padding: 5px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #778388;
      }
    }
  }
}
.TeamAbout {
  width: 100%;
  height: max-content;
  p.pp {
    display: grid;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: Roboto;
    justify-content: center;
    font-size: 40px;
    color: #274c5b;
    span.Yellowtail {
      font-family: Yellowtail;
      font-size: 20px;
      color: #7eb693;
    }
    span.small {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 200;
      padding: 0 200px;
      line-height: 20px;
      color: #778388;
    }
  }
  .containCenter {
    width: 100%;
    height: max-content;
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 30px 180px;
    .boxes {
      margin: auto;
      display: flex;
      width: 1100px;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 40px;
      .box {
        width: 340px;
        border-radius: 20px;
        overflow: hidden;
        text-align: left;
        background-color: #f9f8f8;
        position: relative;
        &:hover {
          background-color: white;
          box-shadow: 0 0 40px #707070;
          scale: 1.05;
        }
        .img {
          width: 100%;
          height: 400px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 100%;
          }
        }
        .text {
          padding: 20px 20px;
          width: 80%;
          h3 {
            font-family: Roboto;
            font-size: 20px;
            color: #274c5b;
          }
          p {
            padding-top: 10px;
            font-family: Yellowtail;
            color: #68a47f;
            font-size: 16px;
          }
        }
        .icons {
          display: flex;
          position: absolute;
          bottom: 10px;
          right: 20px;
          gap: 10px;
          .icon {
            color: #274c5b;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.About.OfferForYou {
  padding: 100px 200px;
  .top {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      font-family: Yellowtail;
      font-size: 20px;
      color: #68a47f;
    }
    h2 {
      font-family: Roboto;
      font-size: 40px;
      color: white;
    }
  }
  .bot {
    .card {
      height: max-content;
      padding: 0;
      border-radius: 20px;
      overflow: hidden;
      background-color: transparent;
      .img {
        width: 100%;
        height: max-content;
      }
      p.Name {
        width: 100%;
        text-align: center;
        color: white;
        padding: 20px;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .About {
    .bgimg {
      height: 250px;
      .pattern {
        height: 100%;
      }
    }
  }
  .About1 {
    height: 550px;
    .content {
      left: 55%;
      p.pp {
        font-size: 16px;
      }
      p.h2 {
        font-size: 30px;
        padding-right: 50px;
      }
      p.small {
        font-size: 12px;
        line-height: 16px;
      }
      .cards {
        height: 80px;
        padding: 20px 0;
        margin: 20px 0;
        .card {
          p.h3 {
            font-size: 13px;
          }
        }
      }
      button {
        padding: 15px 30px;
      }
    }
  }
  .About2 {
    height: 500px;
    padding: 0 100px;
    .BgGreen {
      margin-top: 100px;
      width: 450px;
      height: 350px;
      padding: 30px;
      right: 100px;
    }
    .content {
      height: 70%;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        font-size: 33px;
      }
      p.small {
        margin-top: 5px;
        font-size: 11px;
        line-height: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #778388;
      }
      .cards {
        height: max-content;
        padding: 15px 0;
        .card {
          .buttonHz {
            padding: 15px;
            p {
              font-size: 14px;
            }
            p.elipse {
              width: 17px;
              height: 17px;
              border: 4px solid #68a47f;
            }
          }
        }
      }
    }
  }
  .About2-1 {
    padding: 0px 80px 50px 80px;
    .boxes {
      width: 100%;
      padding: 0 50px 50px 50px;
      gap: 10px;
      .box {
        padding: 30px 15px;
        img {
          width: 60px;
          height: 60px;
          padding: 15px;
        }
        h3 {
          font-size: 18px;
          padding: 10px 0;
        }
        p {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.3px;
        }
      }
    }
  }
  .TeamAbout {
    width: 100%;
    height: max-content;
    p.pp {
      span.Yellowtail {
        font-family: Yellowtail;
        font-size: 20px;
        color: #7eb693;
      }
      span.small {
        font-size: 14px;
        padding: 0 150px;
        line-height: 17px;
      }
    }
    .containCenter {
      text-align: center;
      display: grid;
      justify-content: center;
      padding: 30px 100px;
      .boxes {
        width: 900px;
        gap: 20px;
        row-gap: 40px;
        .box {
          width: 250px;
          .img {
            height: 300px;
          }
        }
      }
    }
  }
  .About.OfferForYou {
    padding: 50px 150px;
  }
} //netbook

@media (min-width: 760px) and (max-width: 1000px) {
  .About {
    .bgimg {
      height: 180px;
      p {
        font-size: 60px;
      }
    }
  }
  .About1 {
    height: 400px;
    .content {
      height: 90%;
      width: 40%;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        padding-right: 50px;
        font-size: 25px;
      }
      p.small {
        font-size: 11px;
        line-height: 15px;
      }
      .cards {
        padding: 30px 0;
        margin: 10px 0;
        .card {
          p.h3 {
            font-size: 11px;
          }
          img {
            height: 100%;
          }
        }
      } 
      button {
        padding: 15px 30px;
        margin-top: -20px;
        font-size: 12px;
      }
    }
  }
  .About2 {
    position: relative;
    height: max-content;
    padding: 0 50px;
    .BgGreen {
      margin-top: 50px;
      width: 500px;
      height: 500px;
      padding: 20px;
      right: -200px;
      .background {
        width: 120%;
      }
    }
    .content {
      margin-top: 50px;
      position: relative;
      width: 55%;
      text-align: right;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        font-size: 30px;
      }
      p.small {
        width: 100%;
        line-height: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #778388;
      }
      .cards {
        .card {
          .buttonHz {
            position: relative;
            right: -40%;
          }
          .small {
            padding: 0 50px 0 150px;
          }
        }
      }
    }
  }
  .About2-1 {
    margin-top: 250px;
    padding: 50px;
    .boxes {
      padding: 0;
      .box {
        width: 23%;
        padding: 20px 10px;
        img {
          width: 70px;
          height: 70px;
          padding: 10px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .TeamAbout {
    p.pp {
      span.Yellowtail {
        font-family: Yellowtail;
        font-size: 20px;
        color: #7eb693;
      }
      span.small {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 200;
        padding: 0 50px;
        line-height: 17px;
        color: #778388;
      }
    }
    .containCenter {
      padding: 30px 10px;
      .boxes {
        width: 100%;
        justify-content: space-evenly;
        .box {
          width: 46%;
          .icons {
            .icon {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
  .About.OfferForYou {
    padding: 50px 100px;
  }
} //tablet
