.About {
  width: 100%;
  height: max-content;
  position: relative;
  .bgimg {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 450px;
    img {
      width: 80%;
      position: absolute;
      &:first-child {
        position: relative;
      }
      &.bg1 {
        width: 85%;
        top: -50%;
        left: -49%;
        rotate: -145deg;
      }
      &.bg2 {
        top: -115%;
        right: -23%;
        rotate: 214deg;
      }
      &.pattern{
        height: 100%;
        width: auto;
      }
    }
    p {
      position: absolute;
      z-index: 2;
      font-family: Roboto;
      font-size: 70px;
      color: #274c5b;
    }
  }
} 
.About1 {
  width: 100%;
  height: 997px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  .background {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 973px;
    height: 100%;
  }
  .content {
    position: relative;
    z-index: 3;
    height: 648px;
    width: 675px;
    margin-left: 986px;
    p.pp {
      font-family: Yellowtail;
      font-size: 36px;
      line-height: 49.06px;
      color: #68a47f;
      margin-bottom: 8px;
    }
    p.h2 {
      font-family: Roboto;
      font-size: 50px;
      line-height: 58.59px;
      color: #274c5b;
      margin-bottom: 14px;
    }
    p.small {
      font-size: 18px;
      line-height: 29.77px;
      letter-spacing: 0.7px;
      font-family: Arial, Helvetica, sans-serif;
      color: #525c60;
    }
    .cards {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      row-gap: 65px;
      .card {
        display: flex;
        width: 292px;
        height: 63px;
        gap: 10px;
        align-items: start;
        p.h3 {
          font-size: 25px;
          font-family: Roboto;
          color: #274c5b;
        }
        img {
          height: 48px;
          margin-right: 10px;
        }
      }
    }
    button {
      margin-top: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 29px 39px;
      background-color: #274c5b;
      border: none;
      font-size: 20px;
      border-radius: 10px;
      color: white;
      gap: 7px;
      span {
        display: flex;
        font-size: 15px;
        padding: 4px;
        border-radius: 20px;
        color: white;
        background-color: #335b6b;
        width: max-content;
        height: max-content;
      }
    }
  }
}
* {
  span.small {
    font-family: "Open Sans", sans-serif;
  }
}
.About2 {
  width: 100%;
  height: max-content;
  background-color: #f9f8f8;
  position: relative;
  display: flex;
  align-items: center;
  padding: 190px 260px;
  .BgGreen {
    margin-top: 203px;
    overflow: hidden;
    width: 678px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 579px;
    padding: 40px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 200px;
    .background {
      rotate: 90deg;
      width: 100%;
    }
  }
  .content {
    position: relative;
    z-index: 3;
    height: max-content;
    width: 671px;
    text-align: left;
    left: 0;
    p.pp {
      font-family: Yellowtail;
      font-size: 36px;
      line-height: 49.06px;
      margin-bottom: 6px;
      color: #68a47f;
    }
    p.h2 {
      font-family: Roboto;
      font-size: 50px;
      line-height: 58.59px;
      color: #274c5b;
    }
    p.small {
      width: 80%;
      font-size: 18px;
      line-height: 29.77px;
      margin-top: 25px;
      margin-bottom: 36px;
      font-family: Arial, Helvetica, sans-serif;
      color: #778388;
    }
    .cards {
      width: 100%;
      height: auto;
      display: grid;
      justify-content: center;
      .card {
        display: grid;
        width: 100%;
        gap: 0px;
        align-items: center;
        .buttonHz {
          display: flex;
          align-items: center;
          gap: 7px;
          width: max-content;
          height: max-content;
          padding: 29px 91px 29px 27px;
          border-radius: 100px;
          overflow: hidden;
          background-color: #e3e3e3;
          p {
            font-family: Roboto;
            color: #274c5b;
            font-size: 20px;
            line-height: 23.44px;
          }
          p.elipse {
            width: 19px;
            height: 19px;
            border: 4px solid #68a47f;
            border-radius: 50px;
          }
        }
        .small {
          width: 100%;
          padding: 0 167px 0 60px;
          font-family: Arial, Helvetica, sans-serif;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.About2-1 {
  width: 100%;
  height: max-content;
  margin-top: -50px;
  padding: 0px 260px 189px 260px;
  .boxes {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
    .box {
      width: 257px;
      background-color: white;
      text-align: center;
      border-radius: 30px;
      padding: 50px 20px;
      img {
        width: 95px;
        height: 95px;
        background-color: #f9f8f8;
        border-radius: 20px;
        padding: 23px;
      }
      h3 {
        font-family: Roboto;
        font-size: 25px;
        color: #274c5b;
        padding: 10px 0;
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 200;
        padding: 5px;
        line-height: 29.77px;
        letter-spacing: 0.5px;
        color: #778388;
      }
    }
  }
}
.TeamAbout {
  width: 100%;
  height: max-content;
  padding: 177px 259px;
  p.pp {
    display: grid;
    width: 100%;
    height: auto;
    line-height: 58.59px;
    text-align: center;
    font-family: Roboto;
    justify-content: center;
    font-size: 50px;
    color: #274c5b;
    span.Yellowtail {
      font-family: Yellowtail;
      font-size: 36px;
      line-height: 49.06px;
      color: #7eb693;
    }
    span.small {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 200;
      padding: 0 250px;
      line-height: 29.77px;
      color: #525c60;
      font-weight: 400;
    }
  }
  .containCenter {
    width: 100%;
    height: max-content;
    text-align: center;
    display: grid;
    justify-content: center;
    .boxes {
      margin-top: 10px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 40px;
      .box {
        width: 439px;
        border-radius: 20px;
        padding-bottom: 10px;
        overflow: hidden;
        text-align: left;
        background-color: #f9f8f8;
        position: relative;
        &:hover {
          background-color: white;
          box-shadow: 0 0 40px #7070707a;
          scale: 1.02;
        }
        .img {
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        .text {
          padding: 30px 20px 20px 20px;
          width: 80%;
          h3 {
            font-family: Roboto;
            font-size: 25px;
            color: #274c5b;
          }
          p {
            padding-top: 10px;
            font-family: Yellowtail;
            color: #7eb693;
            font-size: 22px;
          }
        }
        .icons {
          display: flex;
          position: absolute;
          bottom: 30px;
          right: 20px;
          gap: 10px;
          .icon {
            color: #274c5b;
            font-size: 26px;
          }
        }
      }
    }
  }
}
.About.OfferForYou {
  padding: 177px 200px;
  .top {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      font-family: Yellowtail;
      font-size: 36px;
      margin-bottom: 8px;
      line-height: 49.06px;
      color: #68a47f;
    }
    h2 {
      font-family: Roboto;
      font-size: 50px;
      line-height: 58.59px;
      margin-bottom: 23px;
      color: white;
    }
  }
  .bot {
    .card {
      height: max-content;
      padding: 0;
      border-radius: 30px;
      overflow: hidden;
      background-color: transparent;
      .img {
        width: 100%;
        height: max-content;
      }
      p.Name {
        font-size: 25px;
        font-family: RobotoRegular;
        width: 100%;
        text-align: center;
        color: white;
        padding: 20px;
      }
    }
  }
}
.bgc.a274C5B{
  margin-bottom: 100px;
}

//1x1 copy

@media (max-width: 1360px) {
  .About {
    .bgimg {
      height: 250px;
      .pattern {
        height: 100%;
      }
    }
  }
  .About1 {
    height: 550px;
    .content {
      left: 55%;
      p.pp {
        font-size: 16px;
      }
      p.h2 {
        font-size: 30px;
        padding-right: 50px;
      }
      p.small {
        font-size: 12px;
        line-height: 16px;
      }
      .cards {
        height: 80px;
        padding: 20px 0;
        margin: 20px 0;
        .card {
          p.h3 {
            font-size: 13px;
          }
        }
      }
      button {
        padding: 15px 30px;
      }
    }
  }
  .About2 {
    height: 500px;
    padding: 0 100px;
    .BgGreen {
      margin-top: 100px;
      width: 450px;
      height: 350px;
      padding: 30px;
      right: 100px;
    }
    .content {
      height: 70%;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        font-size: 33px;
      }
      p.small {
        margin-top: 5px;
        font-size: 11px;
        line-height: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #778388;
      }
      .cards {
        height: max-content;
        padding: 15px 0;
        .card {
          .buttonHz {
            padding: 15px;
            p {
              font-size: 14px;
            }
            p.elipse {
              width: 17px;
              height: 17px;
              border: 4px solid #68a47f;
            }
          }
        }
      }
    }
  }
  .About2-1 {
    padding: 0px 80px 50px 80px;
    .boxes {
      width: 100%;
      padding: 0 50px 50px 50px;
      gap: 10px;
      .box {
        padding: 30px 15px;
        img {
          width: 60px;
          height: 60px;
          padding: 15px;
        }
        h3 {
          font-size: 18px;
          padding: 10px 0;
        }
        p {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.3px;
        }
      }
    }
  }
  .TeamAbout {
    width: 100%;
    height: max-content;
    p.pp {
      span.Yellowtail {
        font-family: Yellowtail;
        font-size: 20px;
        color: #7eb693;
      }
      span.small {
        font-size: 14px;
        padding: 0 150px;
        line-height: 17px;
      }
    }
    .containCenter {
      text-align: center;
      display: grid;
      justify-content: center;
      padding: 30px 100px;
      .boxes {
        width: 900px;
        gap: 20px;
        row-gap: 40px;
        .box {
          width: 250px;
          .img {
            height: 300px;
          }
        }
      }
    }
  }
  .About.OfferForYou {
    padding: 50px 150px;
  }
} //netbook

@media (max-width: 1000px) {
  .About {
    .bgimg {
      height: 180px;
      p {
        font-size: 60px;
      }
    }
  }
  .About1 {
    height: 400px;
    .content {
      height: 90%;
      width: 40%;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        padding-right: 50px;
        font-size: 25px;
      }
      p.small {
        font-size: 11px;
        line-height: 15px;
      }
      .cards {
        padding: 30px 0;
        margin: 10px 0;
        .card {
          p.h3 {
            font-size: 11px;
          }
          img {
            height: 100%;
          }
        }
      }
      button {
        padding: 15px 30px;
        margin-top: -20px;
        font-size: 12px;
      }
    }
  }
  .About2 {
    position: relative;
    height: max-content;
    padding: 0 50px;
    .BgGreen {
      margin-top: 50px;
      width: 500px;
      height: 500px;
      padding: 20px;
      right: -200px;
      .background {
        width: 120%;
      }
    }
    .content {
      margin-top: 50px;
      position: relative;
      width: 55%;
      text-align: right;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        font-size: 30px;
      }
      p.small {
        width: 100%;
        line-height: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #778388;
      }
      .cards {
        .card {
          .buttonHz {
            position: relative;
            right: -40%;
          }
          .small {
            padding: 0 50px 0 150px;
          }
        }
      }
    }
  }
  .About2-1 {
    margin-top: 250px;
    padding: 50px;
    .boxes {
      padding: 0;
      .box {
        width: 23%;
        padding: 20px 10px;
        img {
          width: 70px;
          height: 70px;
          padding: 10px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .TeamAbout {
    p.pp {
      span.Yellowtail {
        font-family: Yellowtail;
        font-size: 20px;
        color: #7eb693;
      }
      span.small {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 200;
        padding: 0 50px;
        line-height: 17px;
        color: #778388;
      }
    }
    .containCenter {
      padding: 30px 10px;
      .boxes {
        width: 100%;
        justify-content: space-evenly;
        .box {
          width: 46%;
          .icons {
            .icon {
              font-size: 25px;
            }
          }
          .img {
            width: 100%;
            height: 400px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }
  .About.OfferForYou {
    padding: 50px 100px;
  }
} //tablet

@media (max-width: 760px) {
  .About {
    .bgimg {
      height: 30vw;
      p {
        font-size: 30px;
      }
    }
  } //yes
  .About1 {
    width: 100%;
    height: 500px;
    .background {
      opacity: 0.3;
    }
    .content {
      height: 90%;
      width: 80%;
      left: 10%;
      p.pp {
        font-size: 20px;
      }
      p.h2 {
        font-size: 30px;
        padding-right: 0;
      }
      p.small {
        font-size: 12px;
        line-height: 16px;
      }
      .cards {
        height: 100px;
        row-gap: 10px;
        margin: 5px 0;
        .card {
          p.h3 {
            color: #274c5b;
            font-size: 12px;
          }
          img {
            padding: 3px;
            border-radius: 5px;
            background-color: white;
          }
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        background-color: #274c5b;
        border: none;
        border-radius: 10px;
        color: white;
        gap: 7px;
        span {
          display: flex;
          font-size: 10px;
          padding: 2px;
          border-radius: 20px;
          color: white;
          background-color: rgba(255, 255, 255, 0.3);
          width: max-content;
          height: max-content;
        }
      }
    }
  } //yes
  .About2 {
    position: relative;
    height: max-content;
    padding: 0 40px 0 60px;
    .BgGreen {
      opacity: 0.5;
      margin-top: 50px;
      width: 170%;
      height: 500px;
      padding: 20px;
      right: -80%;
      .background {
        width: 120%;
      }
    }
    .content {
      margin-top: 60px;
      width: 100%;
      .cards {
        .card {
          .buttonHz {
            width: max-content;
            position: relative;
            right: -30%;
          }
          .small {
            padding: 0 40px 0 10px;
          }
        }
      }
    }
  } //yes
  .About2-1 {
    margin-top: 80px;
    width: 100%;
    height: max-content;
    padding: 0px 10px;
    .boxes {
      width: 100%;
      padding: 0 10px 10px 10px;
      justify-content: space-between;
      flex-wrap: wrap;
      .box {
        width: 150px;
      }
    }
  } //yes
  .TeamAbout {
    width: 100%;
    p.pp {
      font-size: 30px;
      span.small {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 200;
        padding: 0 5%;
        line-height: 20px;
        color: #778388;
      }
    }
    .containCenter {
      padding: 30px;
      .boxes {
        width: 100%;
        .box {
          width: 85%;
          border-radius: 20px;
          overflow: hidden;
          text-align: left;
          background-color: #f9f8f8;
          position: relative;
          &:hover {
            background-color: white;
            box-shadow: 0 0 40px #707070;
            scale: 1.05;
          }
          .img {
            width: 100%;
            height: 400px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
            }
          }
          .text {
            padding: 20px 20px;
            width: 80%;
            h3 {
              font-family: Roboto;
              font-size: 20px;
              color: #274c5b;
            }
            p {
              padding-top: 10px;
              font-family: Yellowtail;
              color: #68a47f;
              font-size: 16px;
            }
          }
          .icons {
            display: flex;
            position: absolute;
            bottom: 10px;
            right: 20px;
            gap: 10px;
            .icon {
              color: #274c5b;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
