* {
  @keyframes birbalo {
    0% {
      bottom: -600px;
    }
    50% {
      bottom: -630px;
    }
    100% {
      bottom: -600px;
    }
  }

  @keyframes birbalo1 {
    0% {
      bottom: -450px;
    }
    50% {
      bottom: -480px;
    }
    100% {
      bottom: -450px;
    }
  }
  @keyframes birbalo2 {
    0% {
      top: 30px;
    }
    50% {
      top: 60px;
    }
    100% {
      top: 30px;
    }
  }
}

.bgc {
  overflow: hidden;
  height: max-content;
  background-color: #f1eff0;
  mix-blend-mode: multiply;
  &.F9F8F8 {
    background-color: #f9f8f8;
  }
  &.FCFCFC {
    background-color: #fcfcfc;
  }
  &.a274C5B {
    background-color: #274c5b;
  }
  &.f1f8f4 {
    background-color: #f1f8f4;
  }
  &.EDEAEB {
    background-color: #edeaeb;
  }
  &.EDF1F5 {
    background-color: #edf1f5;
  }
  &.F3F2F7 {
    background-color: #F3F2F7;
  }
  &.FBF5E3 {
    background-color: #fbf5e3;
  }
  &.A7DADA {
    background-color: #a7dada;
  }
  &.B5C3C6 {
    background-color: #b5c3c6;
  }
  &.F2F7F7 {
    background-color: #f2f7f7;
  }
  &.F7F7F9 {
    background-color: #f7f7f9;
  }
}


// * {
//   .bubble {
//     margin-left: 40px;
//     position: relative;
//     width: 120px;
//     height: 80px;
//     background: #32557f;
//     border-radius: 10px;
//     box-shadow: 0 0 10px black;
//   }

//   .bubble {
//     @extend .bubble;

//     &::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 50%;
//       width: 0;
//       height: 0;
//       border: 13px solid transparent;
//       border-bottom-color: #32557f;
//       border-top: 0;
//       margin-left: -13px;
//       margin-top: -13px;
//     }
//   }
// }
