.Password {
  width: 100%;
  height: max-content;
  position: relative;

  .bgimg {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 150px;
    img {
      position: absolute;
      width: 120%;
    }
    p {
      position: absolute;
      z-index: 2;
      font-family: Roboto;
      font-size: 35px;
      color: #274c5b;
    }
  }
}
.Password1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  form {
    width: max-content;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(128, 128, 128, 0.428);
    .img {
      overflow: hidden;
      width: 160px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      img {
        width: 100%;
      }
    }
    .input {
      padding: 0 20px;
      display: grid;
      p {
        font-family: Roboto;
        font-size: 20px;
        color: #274c5b;
      }
      input {
        width: 250px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #35884a;
        outline: none;
        font-size: 20px;
        color: #274c5b;
        padding: 10px 20px;
        font-style: italic;
        &::placeholder {
          color: rgb(195, 195, 195);
          font-size: 16px;
        }
      }
    }
    button {
      width: max-content;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-radius: 10px;
      background-color: #274c5b;
      font-family: Roboto;
      font-size: 14px;
      color: white;
      border: none;
      gap: 10px;
      span {
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: #dedddd51;
      }
    }
  }
}

@media (max-width: 760px) {
  .Password {
    .bgimg {
      height: 80px;
      img {
        width: 260%;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .Password1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    form {
      width: max-content;
      border-radius: 20px;
      display: flex;
      padding: 20px 20px 20px 0;
      box-shadow: 0 20px 40px rgba(128, 128, 128, 0.428);
      .img {
        overflow: hidden;
        width: 60px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 20px 0;
        opacity: 0.5;
        img {
          height: 100%;
          width: auto;
        }
      }
      .input {
        padding: 0 20px;
        display: grid;
        p {
          font-family: Roboto;
          font-size: 20px;
          color: #274c5b;
        }
        input {
          width: 200px;
          height: 50px;
          border-radius: 50px;
          border: 1px solid #35884a;
          outline: none;
          font-size: 20px;
          color: #274c5b;
          padding: 10px 20px;
          font-style: italic;
          &::placeholder {
            color: rgb(195, 195, 195);
            font-size: 16px;
          }
        }
      }
    }
  }
}
