.Shop {
  width: 100%;
  height: max-content;
  position: relative;
  .bgimg {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 450px;
    img {
      width: 100%;
      position: absolute;
      &:first-child {
        position: relative;
      }
      &.bg1 {
        z-index: 2;
        top: 56%;
        width: 50%;
        left: -23.5%;
        rotate: 90deg;
        transform: rotateY(180deg);
      }
      &.bg2 {
      z-index: 1;
        width: 50%;
        right: -3.5%;
        rotate: -90deg;
      }
      &.pattern {
      z-index: 3;
      }
    }
    p {
      position: absolute;
      z-index: 2;
      font-family: Roboto;
      font-size: 70px;
      color: #274c5b;
    }
  }
} //1x1 copy
.shop.OurProducts {
  padding: 90px 260px;
  .cards {
    .card {
      background-color: #f9f8f8;
    }
  }
}

@media (max-width: 1360px) {
  .Shop {
    .bgimg {
      height: 250px;
      img {
        &.pattern {
          height: 100%;
        }
      }
      p {
        position: absolute;
        z-index: 2;
        font-family: Roboto;
        font-size: 50px;
        color: #274c5b;
      }
    }
  }
  .shop.OurProducts {
    padding: 20px 150px;
  }
  .ShopSingle {
    .bgimg {
      height: 250px;
    }
  }
  .single_shop_product {
    width: 100%;
    height: max-content;
    padding: 50px 90px 0px 90px;
    .top {
      .right {
        .comment {
          font-size: 13px;
          line-height: 17px;
        }
        .quantity {
          gap: 10px;
          p {
            font-size: 14px;
          }
          input {
            width: 70px;
            height: 40px;
          }
          button.Add_to_card {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .Shop {
    .bgimg {
      height: 200px;
    }
  }
  .shop.OurProducts {
    padding: 20px 50px;
  }
}

@media (max-width: 480px) {
  .Shop {
    width: 100%;
    height: max-content;
    position: relative;
    .bgimg {
      height: 30vw;
      img {
        width: 100%;
        position: absolute;
        &.bg1 {
          width: 50%;
          left: -30%;
          rotate: 30deg;
        }
        &.bg2 {
          width: 50%;
          right: -0%;
          rotate: 210deg;
        }
        &.pattern{
          width: 130%;
        }
      }
      p {
        font-size: 30px;
      }
    }
  }
  .shop.OurProducts {
    padding: 20px;
    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;
      .card {
        background-color: #ffffff;
      }
    }
  }
}
