.ShopSingle {
  width: 100%;
  height: max-content;
  position: relative;
  .bgimg {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 450px;
    mix-blend-mode: darken;
    img {
      height: 100%;
      position: absolute;
      &:first-child {
        position: relative;
      }
      &.bg1 {
        height: 110%;
        left: -34%;
      }
      &.bg2 {
        top: -3%;
        right: -26%;
        height: 130%;
        transform: rotateY(180deg);
      }
    }
    p {
      position: absolute;
      z-index: 2;
      font-family: Roboto;
      font-size: 70px;
      color: #274c5b;
    }
  }
} //1x1 copy
.single_shop_product {
  width: 100%;
  height: max-content;
  padding: 133px 322px 0 262px;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    .left {
      width: 591px;
      position: relative;
      p.top {
        width: max-content;
        font-size: 15px;
        padding: 6px 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        position: absolute;
        border-radius: 8px;
        background-color: #274c5b;
        color: white;
        font-family: "Open Sans";
        top: 38px;
        left: 35px;
        z-index: 2;
      }
      img {
        width: 100%;
      }
    }
    .right {
      width: 746px;
      padding: 106px 0 106px 85px;
      h2 {
        font-family: Roboto;
        font-size: 40px;
        margin-bottom: 9px;
        color: #274c5b;
      }
      .price {
        margin-top: 9px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Roboto;
        font-size: 25px;
        color: #274c5b;
        span {
          font-size: 20px;
          color: #B8B8B8;
          font-family: "Open Sans", system-ui;
          text-decoration: line-through;
        }
      }
      .comment {
        padding-right: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "Open Sans", system-ui;
        font-size: 18px;
        line-height: 29.77px;
        color: #525C60;
        margin-top: 27px;
        margin-bottom: 35px;
      }
      .quantity {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        p {
          font-family: Roboto;
          font-size: 20px;
          color: #274c5b;
        }
        input {
          text-align: center;
          width: 134px;
          height: 80px;
          border: 2px solid #274c5b;
          border-radius: 18px;
          font-family: Roboto;
          color: #274c5b;
          font-size: 20px;
        }
        button.Add_to_card {
          cursor: pointer;
          padding: 28px 39px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 18px;
          background-color: #274c5b;
          font-family: Roboto;
          font-size: 19px;
          color: white;
          border: none;
          gap: 10px;
          span {
            font-size: 13px;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: #335B6B;
          }
        }
      }
    }
  }
  .bot2 {
    margin-top: 60px;
    width: 100%;
    height: max-content;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    .btn {
      display: flex;
      width: 100%;
      gap: 20px;
      align-items: center;
      justify-content: center;
      button {
        cursor: pointer;
        font-family: Roboto;
        padding: 23px 57px;
        font-size: 25px;
        color: #274c5b;
        background-color: #eff6f1;
        border-radius: 10px;
        border: none;
        &.active {
          background-color: #274c5b;
          color: white;
        }
      }
    }
    .text {
      margin-top: 27px;
      overflow: hidden;
      position: relative;
      width: 100%;
      text-align: center;
      height: max-content;
      .pp {
        width: 100%;
        font-family: "Open Sans", system-ui;
        font-size: 18px;
        line-height: 29.77px;
        font-weight: 400;
        position: absolute;
        color: #525C60;
        left: -100%;
        &.active {
          left: 0;
          position: relative;
        }
      }
      p.info {
        width: 100%;
        font-family: "Open Sans", system-ui;
        font-size: 18px;
        line-height: 29.77px;
        font-weight: 400;
        position: absolute;
        color: #525C60;
        right: -100%;
        &.active {
          right: 0;
          position: relative;
        }
      }
    }
  }
}
.OurProducts.shopsingle{
  width: 100%;
  padding: 140px 100px;
}

@media (max-width: 1360px) {
  .ShopSingle {
    .bgimg {
      height: 250px;
    }
  }
  .single_shop_product {
    width: 100%;
    height: max-content;
    padding: 50px 90px 0px 90px;
    .top {
      .right {
        .comment {
          font-size: 13px;
          line-height: 17px;
        }
        .quantity {
          gap: 10px;
          p {
            font-size: 14px;
          }
          input {
            width: 70px;
            height: 40px;
          }
          button.Add_to_card {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .ShopSingle {
    .bgimg {
      height: 200px;
    }
  }
  .single_shop_product {
    width: 100%;
    height: max-content;
    padding: 50px;
    .top {
      width: 100%;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      .right {
        width: 100%;
        padding: 0;
        .content {
          width: 100%;
        }
      }
    }
    .bot2 {
      padding: 50px;
    }
  }
}

@media (max-width: 760px) {
  .ShopSingle {
    .bgimg {
      height: 30vw;
      p {
        font-size: 30px;
      }
    }
  }
  .single_shop_product {
    width: 100%;
    height: max-content;
    padding: 30px;
    .top {
      width: 100%;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      .right {
        width: 100%;
        padding: 0;
        .content {
          width: 100%;
        }
      }
    }
    .bot2 {
      width: 100%;
      padding: 40px;
      .btn {
        gap: 10px;
        padding: 0px 10px 10px 10px;
        button {
          padding: 15px 35px;
          font-size: 16px;
        }
      }
    }
  }
}
